default: &default
  url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379' %>

development:
  <<: *default
  verbose: true
  queues:
    - [default, 1]   # Default queue with priority 1
    - [mailers, 2]   # Mailers queue with priority 2
    - [es_indexing, 3]   # Elasticsearch indexing queue with priority 3 (lower priority)
    - [geocoding, 3]   # Geocoding queue with priority 3 (lower priority)
    - [maintenance, 3]   # Maintenance queue with priority 3 (lower priority)
    - [metrics, 3]   # Metrics queue with priority 3 (lower priority)
    - [notifications, 3]   # Notifications queue with priority 3 (lower priority)

test:
  <<: *default
  queues:
    - [default, 1]   # Default queue with priority 1
    - [mailers, 2]   # Mailers queue with priority 2
    - [es_indexing, 3]   # Elasticsearch indexing queue with priority 3 (lower priority)
    - [geocoding, 3]   # Geocoding queue with priority 3 (lower priority)
    - [maintenance, 3]   # Maintenance queue with priority 3 (lower priority)
    - [metrics, 3]   # Metrics queue with priority 3 (lower priority)
    - [notifications, 3]   # Notifications queue with priority 3 (lower priority)

production:
  <<: *default
  queues:
    - [new_to_nl_production_default, 1]   # Default queue with priority 1
    - [new_to_nl_production_mailers, 2]   # Mailers queue with priority 2
    - [new_to_nl_production_es_indexing, 3]   # Elasticsearch indexing queue with priority 3 (lower priority)
    - [new_to_nl_production_geocoding, 3]   # Geocoding queue with priority 3 (lower priority)
    - [new_to_nl_production_maintenance, 3]   # Maintenance queue with priority 3 (lower priority)
    - [new_to_nl_production_metrics, 3]   # Metrics queue with priority 3 (lower priority)
    - [new_to_nl_production_notifications, 3]   # Notifications queue with priority 3 (lower priority)